attrs==21.2.0
aws-cdk.assets==1.131.0
aws-cdk.aws-codebuild==1.131.0
aws-cdk.aws-codecommit==1.131.0
aws-cdk.aws-codedeploy==1.131.0
aws-cdk.aws-codepipeline-actions==1.131.0
aws-cdk.aws-codepipeline==1.131.0
aws-cdk.aws-codestarnotifications==1.131.0
aws-cdk.aws-events==1.131.0
aws-cdk.aws-iam==1.131.0
aws-cdk.aws-kms==1.131.0
aws-cdk.aws-lambda==1.131.0
aws-cdk.aws-logs==1.131.0
aws-cdk.aws-s3-assets==1.131.0
aws-cdk.aws-s3==1.131.0
aws-cdk.aws-ssm==1.131.0
aws-cdk.aws_s3_notifications==1.131.0
aws-cdk.cloud-assembly-schema==1.131.0
aws-cdk.core==1.131.0
aws-cdk.cx-api==1.131.0
aws-cdk.pipelines==1.131.0
aws-cdk.region-info==1.131.0
boto3==1.20.0
cattrs==1.8.0
click==8.0.3
cloudcomponents.cdk-pull-request-approval-rule==1.45.0
constructs==3.3.161
jsii==1.43.0
publication==0.0.3
python-dateutil==2.8.2
six==1.16.0
typing-extensions==3.10.0.2
